<article class="warning">
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="warning">
      <input name="post-title" type="text" value="{{post.title}}" />
      <input name="post_url" type="text" value="{{post.post_url}}">
    </div>
    <div class="comment-div">
       {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button class="btn tm-btn tm-btn-primary tm-btn-small" type="submit">Save post</button>
    <button class="btn tm-btn tm-btn-primary tm-btn-small delete-post-btn" type="button">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div class="warning">
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn tm-btn tm-btn-primary tm-btn-small"  type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>